
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/sidebar.css" rel="stylesheet" />
    <script src="/Bifrost/Application" type="text/javascript"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div> 
        <div data-view="TestBench/index"></div>
    </div>
</body>
</html>
